*{
    margin: 0;
    padding: 0;
}

body{
    background: url(/bg1.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}


.navbar{
  position: fixed;
    display: flex;
    flex-direction: row;
    background-color: black;
    justify-content: center;
    height: 12vh;
}

.navbar ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.navbar ul li{
    padding: 10px 25px;
    list-style: none;
    margin: 15px;
}

.navbar li:hover{
    cursor: pointer;
    background-color: rgb(39, 39, 39)
}

.active{
    background-color: rgb(39, 39, 39)
}

.navbar a{
    text-decoration: none;
    color: white;
}


.buttons{
    display: flex;
    flex-direction: column;
}

.container{
    position: absolute;
    max-width: 40%;
    top: 36%;
    left: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: white;
    
}
.input{
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.result{
    display: flex;
    flex-direction: column;
    margin: 10px;
}
span{
    margin: 10px;
    font-size: 2rem;
    padding-top: 45px;
}
.inout{
    padding: 20px;
    margin: 20px;
    background-color: black;
    display: flex;
    flex-direction: row;
    opacity: 1;
    opacity: 0.64;
    padding-bottom: 30px;
    border-radius: 10px;
}
.container button{
    max-width: 50%;
    margin-bottom: 20px;
    padding: 5px 20px;
    border-radius: 5px;
    background-color: #57ca1a;
    color: white;
    border: 1px solid black;
    font-size: 1rem;
}

.container button:hover{
    background-color: #259112;
    cursor: pointer;
}

#input{
    padding: 12px;
    border-radius: 12px;
    max-width: 200px;
    margin: 15px;
}

select{
    padding: 5px;
    padding-right: 10px;
    width: 175px;
    border-radius: 10px;
    margin-top: 5px;
}

select:hover{
    cursor: pointer;
}

#result{
    background-color: white;
    border-radius: 12px;
    padding: 12px;
    margin: 15px;
    color: black;
}

h1{
    color: black;
}
